<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @terrain.name %>
</p>

<p>
  <strong>Category:</strong>

  <% if @terrain.category == 0 %>
      Brack.ch
  <% elsif %>
      Autres
  <% end %>

</p>

<%= link_to 'Edit', edit_terrain_path(@terrain) %> |
<%= link_to 'Back', terrains_path %>
