<link rel="stylesheet" href="/bootstrap-calendar-master/css/calendar.css">

<div class="page-header">

  <div class="pull-right form-inline">
    <div class="btn-group">
      <button class="btn btn-default" data-calendar-nav="prev" style="border: solid 1px;"><< Précédent</button>
      <button class="btn btn-default" data-calendar-nav="today" style="border: solid 1px;">Aujourd'hui</button>
      <button class="btn btn-default" data-calendar-nav="next" style="border: solid 1px;">Suivant >></button>
    </div>
    <div class="btn-group" style="margin-left: 5px;">
      <!--<button class="btn btn-default" data-calendar-view="year">Année</button>-->
      <button class="btn btn-default active" data-calendar-view="month" style="border: solid 1px;">Mois</button>
      <button class="btn btn-default" data-calendar-view="week" style="border: solid 1px;">Semaine</button>
      <!--<button class="btn btn-default" data-calendar-view="day">Jour</button>-->
    </div>
  </div>
  <h3></h3>
</div>
<% if(current_user.canrole == 'admin')  %>
<a class="btn btn-primary" href="<%= new_events_partial_path %>" data-toggle="modal" data-target="#theModal">Add an event</a>
<% end %>

<div style="clear: both;">
  <span style="-webkit-print-color-adjust: exact;display: inline-block; vertical-align: middle; background-color:#7b303e;" class="event delivery"></span> Entrainement
  <span style="-webkit-print-color-adjust: exact;display: inline-block; vertical-align: middle; background-color:orangered;" class="event delivery"></span> Match

</div>

<div class="row" style="margin-top: 25px;">
  <div class="" style="width:100%;">
    <div id="calendar"></div>
  </div>
</div>

<div id="theModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Evènement</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>



<!--<div class="modal hide fade" style="max-height: 520px;" id="events-modal">-->
  <!--<div class="modal-header">-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
    <!--<h3><img src="images/logo.png" style="width: 80px;" alt=""></h3>-->
  <!--</div>-->
  <!--<div class="modal-body" style="max-height: 400px;min-height: 200px;">-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<a href="#" data-dismiss="modal" class="btn">Fermer</a>-->
  <!--</div>-->
<!--</div>-->

<script type="text/javascript" src="/bootstrap-calendar-master/components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/components/jstimezonedetect/jstz.min.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/bg-BG.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/nl-NL.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/fr-FR.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/de-DE.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/el-GR.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/it-IT.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/hu-HU.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/pl-PL.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/pt-BR.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/ro-RO.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/es-CO.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/es-MX.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/es-ES.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/ru-RU.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/sk-SR.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/sv-SE.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/zh-CN.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/cs-CZ.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/ko-KR.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/zh-TW.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/id-ID.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/language/th-TH.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/calendar.js"></script>
<script type="text/javascript" src="/bootstrap-calendar-master/js/appmy.js"></script>

</div>