// Place all the styles related to the calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cal_red{
  background-color: red;
}

.cal_blue{
  background-color: blue !important;
}

.cal_gray{
  background-color: gray;
}