// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status-btn{
  display: inline-block;
  padding: 10px;
  //background-color: red;
  margin: 5px;
}
.status-red{background-color: red;}
.status-green{background-color: green;}
.status-yellow{background-color: yellow;}
.status-active{
  border: solid;
  border-color: black;
  border-width: 2px;
}