// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.status-btn{
  display: inline-block;
  font-size: 25px !important;
  color: grey !important;
}

.status-active .status-green{
  color: green ;
}
.status-active .status-yellow{
  color: orange ;
}
.status-active .status-red{
  color: red ;
}