<div class="row">

  <div class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 mb effectifacademie">
    <% if ! params[:whom].blank? %>
    <h3 class="titre text-grenat">Effectif</h3>
        <% end %>
    <table class="table table-striped table-hover">
      <tbody class="effectif">
      <%
        print(params[:whom])
        @users = User.order(:name)
        @users1 = @users.select { |u| u.canrole == params[:whom]  && u.role == 1}
        @users2 = @users.select { |u| u.canrole ==  params[:whom]  && u.role == 2}
        @users3 = @users.select { |u| u.canrole ==  params[:whom]  && u.role == 3}
        @users4 = @users.select { |u| u.canrole ==  params[:whom]  && u.role == 4}
        @users5 = @users.select { |u| u.canrole ==  params[:whom]  && u.role.blank?}
        players = @users1 +@users2 + @users3 + @users4 + @users5
        players.each do |player|
      %>
          <tr>
            <td>#<%= player.level %></td>
            <%
              if !player.alias.blank?
                @tempalias = player.alias
              else
                @tempalias = player.surname+'-'+player.name
              end
            %>
            <td><%= player.getname() %></td>
            <td>
              <% roles = ['Gardien', 'Défenseur', 'Milieu', 'Attaquant'] %>
              <% if !player.role.blank? %>
                  <%= roles[player.role-1] %>
              <% end %></td>
            <td>
              <% if !player.birthday.blank? %>
                  <%= Time.at(player.birthday.to_time.to_i).strftime '%d.%m.%Y' %>
              <% end %>
            </td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>